@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --primary-color: #143D60;
  --secondary-color: #EB5B00;
  --tertary-color: #dfa01f;
  --text-color: #F2F2F2;
  --swiper-navigation-color: var(--tertary-color);
  --swiper-pagination-color: var(--tertary-color);
}

#root {
  margin: 0 auto;
}


body {
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-tertiary {
    background-color: var(--tertary-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertary-color);
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

hr {
  color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}


header {
  background-color: white;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

input, select, textarea {
  background-color: white;
  border: 1px solid var(--primary-color);
}

.bg-carousel {
  background-color: rgba(255, 255, 255, 0.05);
}

.multi-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

